MONGO_URI="mongodb+srv://<username>:<password>@oneiitptimetable.j1khn7v.mongodb.net/oneiitp_db?retryWrites=true&w=majority&appName=oneiitpTimetable"
GOOGLE_SHEET_ID="your_google_sheet_id_here"
SYNC_SECRET="supersecretkey123"